[submodule "app/src/main/java/com/sarang/torang/di/restauarnt_info_di"]
	path = app/src/main/java/com/sarang/torang/di/restauarnt_info_di
	url = https://github.com/sarang628/restauarnt_info_di.git
[submodule "app/src/main/java/com/sarang/torang/di/restaurant_detail_di"]
	path = app/src/main/java/com/sarang/torang/di/restaurant_detail_di
	url = https://github.com/sarang628/restaurant_detail_di.git
[submodule "app/src/main/java/com/sarang/torang/di/image"]
	path = app/src/main/java/com/sarang/torang/di/image
	url = https://github.com/sarang628/image.git
[submodule "app/src/main/java/com/sarang/torang/di/pinchzoom"]
	path = app/src/main/java/com/sarang/torang/di/pinchzoom
	url = https://github.com/sarang628/pinchzoom.git
[submodule "app/src/main/java/com/sarang/torang/di/repository"]
	path = app/src/main/java/com/sarang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sarang/torang/di/restaurant_overview_di"]
	path = app/src/main/java/com/sarang/torang/di/restaurant_overview_di
	url = https://github.com/sarang628/restaurant_overview_di.git
[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
[submodule "app/src/main/java/com/sarang/torang/di/torang_network_di"]
	path = app/src/main/java/com/sarang/torang/di/torang_network_di
	url = https://github.com/sarang628/torang_network_di.git
[submodule "app/src/main/java/com/sarang/torang/di/torang_database_di"]
	path = app/src/main/java/com/sarang/torang/di/torang_database_di
	url = https://github.com/sarang628/torang_database_di.git
[submodule "app/src/main/java/com/sarang/torang/di/feed_di"]
	path = app/src/main/java/com/sarang/torang/di/feed_di
	url = https://github.com/sarang628/feed_di.git
[submodule "app/src/main/java/com/sarang/torang/di/basefeed_di"]
	path = app/src/main/java/com/sarang/torang/di/basefeed_di
	url = https://github.com/sarang628/basefeed_di.git
[submodule "app/src/main/java/com/sarang/torang/di/pulltorefresh"]
	path = app/src/main/java/com/sarang/torang/di/pulltorefresh
	url = https://github.com/sarang628/pulltorefresh.git
[submodule "app/src/main/java/com/sarang/torang/di/torang_security_di"]
	path = app/src/main/java/com/sarang/torang/di/torang_security_di
	url = https://github.com/sarang628/torang_security_di.git
